body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.qrCard{
    background-color: hsl(0, 0%, 100%);
    border-radius: 6%;
    width:280px;
    height: 430px;
    margin: 30px auto;
}
img{
    width: 240px;
    height:240px;
    border-radius: 5%;
    margin-top: 12px;
}
h1{
    font-weight: 700;
    font-size: 10px;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.text{
    margin:15px;
}
